.root {
  height: 10%;
  background-color: #EEF5DB;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  padding: 0 24px;

  & .club {

    align-self: center;
    align-items: center;
  }

  & .privacy {
    display: flex;

    & p {
      align-self: center;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  & .map {
    display: flex;
    align-self: center;
    font-weight: 600;

    & img {
      margin-right: 3px;
    }
  }

  & .socseti {
    display: flex;
    align-self: center;

    & a {
      margin-top: 4px;
      margin-right: 2px;
    }
  }
  & .support{
    align-self: center;
    font-weight: 600;
  }
}